<%= turbo_frame_tag "top_rooms" do %>
  <div class="card grid-card">
    <%# TODO: Link to stats_v2_rooms_path when room details page is implemented %>
    <div class="card-header">
      <h2 class="txt-h3 margin-none">Top Rooms</h2>
    </div>
    <div class="card-body compact">
      <%= render 'stats/v2/shared/ranked_list', items: top_rooms, empty_message: 'No rooms yet' do |room, rank| %>
        <td>
          <%= link_to room_path(room), style: "text-decoration: none;", data: { turbo_frame: "_top" } do %>
            <span class="txt-truncate"><%= room.name %></span>
          <% end %>
        </td>
        <td class="txt-right">
          <%= number_with_delimiter(room.message_count) %>
        </td>
      <% end %>
    </div>
  </div>
<% end %>
