<% @page_title = "#{period_title(@period)} - Top Talkers" %>
<% @body_class = "sidebar stats-page" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application/stats" %>
<% end %>

<% content_for :nav do %>
  <%= account_logo_tag if Current.account.logo.attached? %>
  <%= tag.span class: "btn btn--reversed btn--faux room--current" do %>
    <h1 class="room__contents txt-medium overflow-ellipsis"><%= period_title(@period) %> - Top Talkers</h1>
  <% end %>
  <%= link_to stats_v2_dashboard_path, class: "btn" do %>
    <%= image_tag("arrow-left.svg", aria: { hidden: "true" }, size: 20) %>
    <span>Back to Stats</span>
  <% end %>
  <%= link_to stats_v2_talker_path(period: @period), class: "btn d-hotwire-native-none" do %>
    <%= image_tag("refresh.svg", aria: { hidden: "true" }, size: 20) %>
    <span class="for-screen-reader">Refresh stats</span>
  <% end %>
<% end %>

<% content_for :sidebar, sidebar_turbo_frame_tag(src: user_sidebar_path) %>

<section class="full-width">
  <%= render "stats/v2/talkers/#{@period == :all_time ? 'all_time' : 'breakdown'}", from_path: @from_path %>
</section>
